@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@layer base{
  body{
    font-family: 'Barlow Condensed', sans-serif;
    @apply bg-primary text-white;
  }

  h1{
    font-family: 'Bellefair', serif;
    @apply text-[80px] md:text-[150px] uppercase;
  }

  h2{
    font-family: 'Bellefair', serif;
    @apply text-[56px] md:text-[100px] uppercase;
  }

  h3{
    font-family: 'Bellefair', serif;
    @apply text-[24px] md:text-[40px] lg:text-[56px] uppercase;
  }

  h4{
    font-family: 'Bellefair', serif;
    @apply text-[20px] md:text-[32px] uppercase;
  }

  h5{
    @apply text-[16px] md:text-[28px] tracking-[4.75] uppercase;
  }

  p{
    @apply text-[15px] md:text-[18px] leading-[32px];
  }
}

@layer utilities{
  .sh1{
    font-family: 'Bellefair', serif;
    @apply text-[28px] uppercase;
  }
  .sh2{
    @apply text-[14px] tracking-[2.35] uppercase;
  }
  .nav-text{
    @apply text-[14px] md:text-[16px] tracking-[2.36] md:tracking-[2.7] uppercase;
  }

  .tab-selected{
    @apply  border-0 border-b-2 border-white outline-none;
  }
}